@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar barra de rolagem (opcional, usado nas abas do painel) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}